<%- include("Layout/header")%>
<main>
  <h1>Register</h1>
  <form action="/register" method="post">
    <div class="form-field">
      <label for="username" class="input-label">Username:</label>
      <input type="text" id="username" name="username" required />
    </div>
    <br />
    <div class="form-field">
      <label for="password" class="input-label">Password:</label>
      <input type="password" id="password" name="password" required />
    </div>
    <br />
    <button type="submit">Register</button>
  </form>
</main>
<%- include("Layout/footer")%>
